html {
  font-size: 62.5%;
}
body {
  margin:0px;
  padding:0;
}
#root {
  margin:20px auto;
  max-width: max-content;
  text-align: center;
  padding:10px;
  border:1px solid gray;
  border-radius:4px;
}
h1 {
  margin:0;
  text-transform:uppercase;
}
